language: r
cache: packages
r: 
  - bioc-devel
git:
  # To only get latest commit
  depth: 1
pandoc: false
warnings_are_errors: true
sudo: required

bioc_packages:
  - BiocCheck
r_github_packages:
  - kjohnsen/MMAPPR2data
  - Bioconductor/BiocManager
  
before_script:
  # so NAMESPACE is up-to-date
  - R -e 'devtools::document(roclets=c("rd", "collate", "namespace"))'
  # ensure bioc-devel is being used
  # - R -e 'BiocManager::install(version = "devel", ask=FALSE)'
  - R -e 'BiocManager::valid()'
  # run tests here (can't see all output from check)
  - R -e 'devtools::test()'

script:
  - R CMD build .
  - R CMD check *tar.gz

after_success:
  # BiocCheck
  - R CMD BiocCheck *tar.gz
